./gitignore
.idea/**
/out/**
/user/**
/bin/**
bin
annotation.txt
tasks.txt
scenicView.properties
dashboard.properties
application.properties
DashboardFx.iml
app.log
app.log.lck
*.properties
/logs/**
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build/**
/gradle/
/.gradle/**
